* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  align-items: center;
}
.main {
  padding-top: 50px;
}
.logo-spotify {
  margin: 10px;
  width: 100px;
}
.menu-icon {
  margin-right: 10px;
  width: 25px;
}

.nav {
  display:none;
}

.hero {
  background-color: #529cf1;
  /* background-image: url(../images/premium_dancer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; */
  height: 25vh;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.title {
  /* border: 2px solid red; */
  /* margin-top: 100px; */
  font-size: 45px;
  padding: 15px;
  color: white;
}
.subtitle {
  /* border: 2px solid red; */
  font-weight: bold;
  color: white;
  font-size: 23px;
  padding: 15px;
}
.btn {
  /* display: inline; */
  text-transform: uppercase;
  color: white;
  background-color: #26b758;
  text-decoration: none;
  max-width: 350px;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
}
.terms {
  color: white;
  font-size: 12px;
  padding: 15px;
  margin-bottom: 20px;
}
.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.title2 {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.benefit {
  display: flex;
  align-items: center;
  padding: 15px;
}
.benefit img {
  width: 70px;
}
.benefit-text {
  width: 175px;

  font-size: 10px;
}
.footer {
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: end;
  font-size: 10px;
}
.footer-nav-container {
  display: flex;
  gap: 10px;
  list-style: none;
  width: 50vw;
  flex-wrap: wrap;
}
.link-footer {
  text-decoration: none;
  color: white;
  display: flex;
}
.info {
  width: 141px;
}
.footer-copy {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.spain-flag {
  width: 20px;
  margin: 0px 0px 0px 5px;
}
.footer-copy-spain {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .nav {
    display: flex;
    margin-right: 10px;

  }

  .nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    color: white;
  }

  .nav a {
    color: white;
    text-decoration: none;
  }

  .hero {
    background-image: url(../images/premium_dancer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}