<footer class="footer">
  <nav>
    <ul class="footer-nav-container">
      <li>
        <a href="#" class="link-footer">Legal</a>
      </li>
      <li>
        <a href="#" class="link-footer">Cookies</a>
      </li>
      <li>
        <a href="#" class="link-footer info"
          >Información sobre los anuncios</a
        >
      </li>
    </ul>
  </nav>
  <section class="footer-copy">
    <small class="footer-copy-spain">
      España
      <img src="./assets/images/es.svg" alt="bandera España" class="spain-flag" />
    </small>
    <small> @ 2019 Spotify AB </small>
  </section>
</footer>